.pagination-main-container {
    display: flex;

    .previous-pages-navigation-buttons-container {
        display: flex;
    }

    .first-set-of-buttons-container {
        .delete-all-container {
            // margin-bottom: 1rem;
        }
    }

    .last-set-of-buttons-container {
        .next-pages-navigation-buttons-container {
            display: flex;
            // margin-bottom: 1rem;
        }

    }

}

.gap-1-rem {
    gap: .31rem;
}

.other-buttons {
    background-color: #1990FC;
    border-radius: 50%;
    border-color: transparent;
    border-radius: 50%;
    border-color: none;
    color: white;
}

.active-button {
    border-radius: 50%;
    background-color: white;
    border: solid 2px #1990FC;
    color: black
}

.delete-selected-button {
    border-radius: 8px;
    background-color: #FF5171;
}